.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 62px;
}
.nav-right {
    display: flex;
}
.nav-right > ul{
    display: flex;
}
.nav-right > ul >li{
    padding: 0 20px;
}